@import 'ext/node_modules/argob-poncho/dist/css/poncho.css'

// colores principales de textos y otras cositas
$main-color = #A695d6
$main-color-resalted = #7868a6
// colores de links o textos tipo links
$main-link-color = #1fac92
$main-link-color-hover = #257b6c
// otros colores de bootstrap
$primary-color = #A69546
$primary-color-hover = #e3cc5f
$success-color = #50d021
$success-color-hover = #65e635
$danger-color = #e16a3c
$danger-color-hover = #ff9371

a
  color: $main-link-color
  
a:hover, a:focus, a:active
  color: $main-link-color-hover

.text-primary
  //en poncho le ponen !important así que hay que hacer lo mismo para pisarlo
  color: $primary-color !important
  
.bg-primary
  //en poncho le ponen !important así que hay que hacer lo mismo para pisarlo
  background-color: $primary-color !important
  
// estos botones son los de fondo gris y texto de color
.btn-link
  color: $main-color
  
.btn-link:hover,
.btn-link:focus
  color: $main-color-resalted
  
// botones principales
.btn-primary
  background-color: $primary-color
  
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.focus,
.btn-primary.active
  background-color: $primary-color-hover
  
// on click
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover
  background-color: $primary-color-hover
  
// botones de "borrar", "revocar", etc.
.btn-danger
  background-color: $danger-color
  
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.focus,
.btn-danger.active
  background-color: $danger-color-hover
  
// on click
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover
  background-color: $danger-color-hover
  
//botones "guardar", "publicar", etc.
.btn-success
  background-color: $success-color
  
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.focus,
.btn-success.active
  background-color: $success-color-hover
  
// on click
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover
  background-color: $success-color-hover

.btn-outline-success
  color: $success-color

.btn-outline-success:hover
  background-color: $success-color

  