.searchbar-container
  margin-bottom: 35px
  display:flex
  flex-direction:column

.searchbar
  display:flex
  justify-content:center
  input
    width:60%
    max-width: 355px
    height:40px
    margin-bottom:5px
    outline: 0
    &:hover
      outline: 0
  button
    width:10%
    min-width: 65px
    height:40px
    background:$primary-color
    color: #fff
    border: 0

.advancedsearch
  padding:20px
  display:flex
  flex-direction:column
  margin-left:auto
  margin-right:auto
  z-index:1
  background:#fff
  .form-group.item-form
    margin-top: 10px

  .checkbox
    display:flex
    width:100%
  label
    padding-right: 30px
  input
    margin-right:10px
    font-size:14px
  select
    width:200px
    font-size:14px
    height:30px !important
  legend
    font-size:14px
    font-weight:500
    padding:10px 0px
  .reiniciar
    font-size:14px
  .fecha-form
    margin-top:10px
  .fecha
    display:flex
    align-items: center
    label
      margin-bottom: 0px
    #fecha
      width:200px
      font-size:14px
      height:30px
.button-link
  display:flex
  justify-content:flex-end
  margin-bottom:10px
  &.form
    margin-bottom:0
    button
      text-decoration:none !important
      text-transform:none !important
      margin-left:5px
      height:40px
      padding-top:10px
      margin-bottom:0
