@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Noto+Serif:100,400,700&subset=latin-ext')

body
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif
  overflow: auto

#root
  padding-top: 0

#outer-layout
  padding-top: 0
  overflow: inherit

#content
  min-height: calc(100vh - 72px)

.container-simple
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px

  @media (min-width: 544px)
    max-width: 576px

  @media (min-width: 768px)
    max-width: 720px

  @media (min-width: 992px)
    max-width: 940px

  @media (min-width: 1200px)
    max-width: 1140px

.site-content
  margin-top: 0

.panel
  background-color: #fff

.text-muted
  color: #767676 !important

article footer
  border-top: 0
  margin-bottom: 0
  margin-top: 0
  padding-top: 0
