.container.forum-card-container
  padding-left:25px
  padding-right:25px
  padding-bottom:30px
  .forum-slider-wrapper
    .forum-slider-title
      text-align: center
      font-size: 18px
      font-weight: 400
      color: #000
      margin-bottom: 1.0em

@import '../forum-card/styles.styl'