.ext-topic-layout
  @import './topic-article/styles.styl'

  .topic-comments-form
    .actions
      .btn
        margin-bottom: 0

  .comments-sort
    .comments-sort-btn
      background-color: transparent !important

    .caret
      top: .6em
  
  .seccion-proyectos.container-fluid
    background-color: #FFF
    padding-top: 10px
    .title
      font-size: 30px
      font-weight: 500
      text-align: center

.jumboarticle
  min-height:330px
  
li.sortable-li.sortable-li-focus
  line-height:inherit