.input-range__track--active
    color:red
.topic-action-voted
    display:none 

.topic-article-wrapper 
    &.topics-slider 
        &.row-result      
            box-shadow:none 
div.row.row-result       
    box-shadow:none 
    border:1px solid #f2f2f2  

.topics-slider
    .voted-box
        margin-top: 30px
  