.ext-header
  header-height = 72px

  position: relative
  padding-left: 0
  padding-right: 0
  height: header-height
  box-shadow: 0 2px 2px rgba(#000, .2)
  color: $main-color
  background-color: #fff

  .header-item.active .header-link,
  .header-link:hover
    color: #fff
    background-color: $primary-color

  .header-link
    padding-left: 15px
    padding-right: 15px
    height: header-height
    color: $main-color
    font-weight: 500
    font-size: 15px
    height: 43px;
    line-height: header-height
    margin-top: 15px;
    line-height: 43px;
    &.anon-user
      background-color: $primary-color
      color: white

  .logo
    margin: 12px 0 0 0
    padding: 0

    img
      height: 48px
      max-width: 100%
      margin-left: -10px

    @media (min-width: 380px)
      margin-top: 6px

      img
        height: 60px

    @media (min-width: 480px)
      margin-top: 3px

      img
        height: 65px

  .dropdown-list
    position: absolute
    top: 72px
    right: 0
    color: #fff
    border: none
    width: 232px
    background-color: $main-color

    a
      font-size: 16px
      text-align: left
      text-transform: uppercase

      &:hover
        background-color: $main-color-resalted

nav.navbar
  height: 72px
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
  .navbar-brand
    img
      height 50px
  .nav-item
    height: 72px;
    margin: -.5rem 0 0;
    &.org-link
      display: none
    .nav-link
      height: 100%
      align-items: center;
      display: flex
      font-weight 500
      font-size 17px
      padding: 0 7px
      &:hover, &:active
        background $main-color
        color #fff
        cursor: pointer
  #toggleButton
    border-radius: 4px
    padding: 9px 10px
    margin-left: -10px
    margin-right: 3px
    top: 13px
    color: #888
    &:active,&:hover
      color: #fff
      background-color: $main-color

  .user-badge
    button
      margin 0
      outline: none
    &.active
      background #0072bc
      color #fff
      button
        background none
        .caret
          color #fff
    &:hover
      button
        .caret
          color #fff
    .dropdown-list
      background #0072bc
      color #fff
      border none
      width: 232px;
      position: absolute
      top: 72px
      right: 0
      a
        text-transform uppercase
        &:hover
          background #0091ef

@media screen and (min-width: 700px)
  nav.navbar
      .nav-item
        &.org-link
          display: flex

@media (max-width: 500px)
  nav.navbar
    .nav-item
      .nav-link
        font-size 12px

@media (max-width: 470px)
  nav.navbar
    height: 64px
    .navbar-brand
      img
        height: 36px
    .nav-item
      height: 64px
    .dropdown-list
      top: 64px
    #toggleButton
      top: 5px

@media (max-width: 470px)
  nav.navbar
    padding: .5rem 0

@media (max-width: 360px)
  nav.navbar
    .navbar-brand
      margin-top: 6px
      img
        height: 28px

@media screen and (max-width: 940px)
  #toggleButton
    display block
