.forum-new-form
  label.rich-summary
    float none
    
  select
    height: 42px
    margin-top: 0px
    margin-bottom: 0px
    padding: 8px 12px
    border: 1px solid #dedede
    border-radius: 3px
    background-color:  #fff

  input[type='date']
    display block
    height 42px
    margin-top 0px
    margin-bottom 0px
    padding 8px 12px
    border 1px solid #dedede
    border-radius 3px
    background-color white
    color black
    width: 100%
    @media (min-width: 700px)
      width: 60%
      float: right