#content-401
  flex 1
  background transparent
  .container-401
    margin 100px auto 0
    max-width 400px
    width 90%
    text-align center
    h1
      font-size 20px
      color #373737
    span
      color #373737
      font-size 50px
